# API
/node_modules
/config/default.json

# CLIENT
/client/node_modules
/client/.pnp
/client/coverage
/client/build

/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

